@keyframes slideInLeftRepeated {

    0%,
    100% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0);
    }
}

.slide-in-left-repeated {
    animation: slideInLeftRepeated 50s infinite;
}

@keyframes pulseSlow {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.pulse-slow {
    animation: pulseSlow 40s infinite;
}

@keyframes rotate360Fast {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-fast {
    animation: rotate360Fast 30s infinite;
}

@keyframes bounceSlow {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.bounce-slow {
    animation: bounceSlow 25s infinite;
}

@keyframes scaleUpDown {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.scale-up-down {
    animation: scaleUpDown 15s infinite;
}